.logo{
    height: 5rem;
    padding-left: 6rem;
    position: fixed;
    z-index: 10000;
    width: 100%;
}
.navBg{
    background-color: rgba(0, 0, 0, 0.648);
}
.logo img{
    margin-left: -25px;
    /* width: 100%; */
    height: 5rem;
}
@media screen and (max-width:768px) {
    .logo img{
        margin-left: 10px;
    }
}