.row{
    padding-left: 5rem;
    padding-top: 5rem;
    font-family: 'Bebas Neue', sans-serif;
letter-spacing: 1px;
}
.movie{
display: flex;
gap: 10px;
width: 100%;
overflow-x: scroll;
}
.movie::-webkit-scrollbar{
    display: none;
}
.movieImg{
height: 200px;
transition: .3s ease;
}
.movieImg:hover{
    transform: scale(1.05);
}
.hoverCard{
    /* overflow-x: scroll; */
    /* position: relative; */
}
.hoverCard2 p{
    /* overflow-x: scroll; */
    /* position:absolute; */
    z-index: 100;
}
@media screen and (max-width:768px) {
    .row{
padding: 10px;    }
}